ion-label{
    display: block;
}
*{
    color: black;
}

.bold{
    font-weight: bold;
}
.datos{
    margin: auto;
    text-align: center;
}
ion-buttom{
    width: 100%;
}
#post{
    padding:0;
    ion-grid{
        padding: 0;
    }
    
}
.uno{
    margin-left: 51px;
    //margin-right: -93px;
}
.dos{
    margin-left: 1px;
   // margin-right: -9px;
}



